@font-face
{
	font-family: "Nunito";
	src: url("Nunito-Regular.ttf");
}
@font-face
{
	font-family: "ManoAlzada";
	src: url("KingthingsWrote.ttf");
}
body
{
	background: url('imagenes/background2.jpg');
	display: inline-block;
	font-family: "Nunito";
	font-size: 16px;
	margin: 0;
	width: 100%;
}
header
{
	background: url("imagenes/Escudo.png") no-repeat 10% center,
				url('imagenes/background1.jpg');
	border-radius: 0.5em;
	box-shadow: rgba(0,0,0,0.8) 0px 4px 10px;
	font-family: "ManoAlzada";
	margin: 0.2em auto;
	padding: 1em;
	text-align: center;
	width: 90%;
}
header
{
	color: white;
	font-size: 3em;
	font-weight: bold;
	text-shadow: rgba(0,0,0,0.7) 10px 2px 0.2em;
}
footer
{
	text-align: right;
}
table tr:hover
{
	background: #F8F8F8;
}
.inputForm
{
	margin: 0.8em 0 0.8em 0;
	padding: 0.4em 0.6em 0.4em 0.6em;
	width: 35%;
}
.labelForm
{
	float: left; 
	clear: right;
	margin: 0.4em 1.2em 0.4em 0;
	text-align: right;    
	width: 35%;
}
